@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #5d87ff;
  --color-gray: #00000014;
  --color-shineYellow: #ffb900;
  --color-navyGray: #2a3547;
  --color-baseInk: #171c2a;
  --color-surfaceDark: #1e232e;
}

::-webkit-scrollbar-track {
  background-color: var(--color-gray-50);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}

::-webkit-scrollbar {
  width: 12px;
}

html {
  scroll-behavior: smooth;
}